body{
  background-color: #fff;
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  border: 2px solid black;
}
#header-nav{
  background-color: #808080;
  border: 0;
  border-radius:0;
  margin-bottom: 10px;
}
.navbar-brand h1{
  font-size: 1.8em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  text-shadow: 1px,1px,1px #222;
  font-weight: bold;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-toggle .icon-bar{
  border: 1px solid #000;
  background-color: #000;
}

div h2{
  text-transform: capitalize;
  margin-bottom: 35px;
  color: #000;
  font-size: 1.6em;
  font-weight: bold;
  text-decoration: none;
  margin-top: 0px;

}
.container{
  width: 100%;
  padding-right: auto;
  padding-left: auto;
  margin-left: auto;
  margin-right: auto;

}
section.container{
  display: block;
  background-color: #808080;
  /*width: 100%;*/
}
#chicken,#beef,#Sushi{
  margin-bottom: 20px;

}
h3{
  color: #000;
  font-weight: bold;
  font-size: 1.4em;
  padding-top: 2px;
  padding-bottom: 0;

}
p{
  font-family: font-family: 'Lora', serif;
  margin-top: 20px;
  padding: 5px;
  color: #000;
  font-size: 1em;
  margin-right: -5px;
  padding-right: 0px;
  

}
#nav-list{
  background-color: #eeeedd;
  margin-top: 10px;
}

#nav-list a{
  color:#000;
  text-align: center;
  border: 2px solid black;
  margin-right: 0px;
  margin-left: 0px;
  display: block;
}
#nav-list a:hover{
    background: #666633;
}
/*for larger devices*/
@media (min-width: 1200px){

}

/*for medium devices*/
@media (min-width: 992px) and (max-width: 1199px){

}
/*for smaller devices*/
@media (min-width: 768px) and (max-width: 991px){

}

/*for extra smaller devices*/
@media (min-width: 468px) and (max-width: 767px){

}